@import 'tailwindcss';
@import '@nuxt/ui';

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--ui-border, currentColor);
  }
}

@theme {
  --color-surface: var(--surface-color);
}

:root {
  --ui-bg: rgb(245 245 246);
  --ui-container: 90rem;
  --ui-header-height: 48px;
  --ui-radius: 0.3rem;

  --app-margin: 0.5rem;
  --app-content-height: calc(100svh - var(--app-margin) * 2);

  --surface-color: rgb(255 255 255);

  --font-family: Geist, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans JP', Meiryo, sans-serif;

  scroll-behavior: smooth;
}

.dark {
  --ui-bg: rgb(20 20 22);

  --surface-color: rgb(28 28 30);
}

body {
  font-family: var(--font-family);

  scroll-behavior: smooth;
  word-break: normal;
  overflow-wrap: anywhere;
  line-break: strict;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
* {
  scrollbar-width: thin;
  scrollbar-color: var(--ui-border-accented) transparent;
}
