@import 'tailwindcss';
@import '@nuxt/ui';
@import './animations.css';

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--ui-border, currentColor);
  }

  body,
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--ui-border-accented) transparent;
  }
}

@theme {
  --color-app-base: var(--app-base);
  --color-surface: var(--surface-color);
  --font-sans: Geist, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans JP', Meiryo, sans-serif;
}

:root {
  --ui-container: 90rem;
  --ui-header-height: 48px;
  --ui-radius: 0.3rem;

  --app-margin: 0.5rem;
  --app-content-height: calc(100svh - var(--app-margin) * 2);

  --app-base: rgb(246, 246, 248);
  --surface-color: rgb(255 255 255);

  scroll-behavior: smooth;
}

.dark {
  --app-base: rgb(18, 18, 20);
  --surface-color: rgb(28 28 30);
}

body {
  font-family: var(--font-sans);

  scroll-behavior: smooth;
  word-break: normal;
  overflow-wrap: anywhere;
  line-break: strict;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
